<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{20} - %replace(%msg){'[\r\n]', '_'}%n</pattern>
        </encoder>
    </appender>

    <!-- Suppress noisy engine logs during benchmarks -->
    <logger name="com.spectrayan.spector" level="WARN"/>
    <logger name="com.spectrayan.spector.memory.pipeline.GraphExpansionStage" level="DEBUG"/>
    <logger name="com.spectrayan.spector.bench" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
